<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.anbox.app_manager">

    <application
        android:name=".MainApplication">
        <service
            android:name=".AppManagerService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>
</manifest>
