build*/
parts/
stage/
prime/
android-images/
*.snap
CMakeLists.txt.user
*.o.cmd
*.symvers
*.o
*.ko
*.ko.cmd
*.mod.c
*.mod.o
modules.order
.tmp_versions
.idea


debian/anbox-modules-dkms.debhelper.log
debian/anbox-modules-dkms.substvars
debian/anbox-modules-dkms/
debian/debhelper-build-stamp
debian/files
