<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.anbox.launcher">

    <application
        android:name="org.anbox.launcher.LauncherApplication"
        android:label="Anbox Launcher"
        android:hardwareAccelerated="true"
        android:largeHeap="false"
        android:supportsRtl="true">
        <activity
            android:name="org.anbox.launcher.Launcher"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:resumeWhilePausing="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
