[Desktop Entry]
Name=Anbox Application Manager
GenericName=Anbox Application Manager
Version=1.0
Type=Application
Icon=${SNAP}/meta/gui/icon.png
Exec=anbox launch --package=org.anbox.appmgr --component=org.anbox.appmgr.AppViewActivity
Terminal=false
