<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.anbox.appmgr">

    <application
        android:name="org.anbox.appmgr.MainApplication">
        <activity
            android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AppViewActivity"
            android:label="@string/app_name"
            android:excludeFromRecents="true">
        </activity>
        <service
            android:name=".LauncherService"
            android:exported="false">
        </service>
        <receiver android:name=".PackageEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACAKGE_REMOVED"/>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
