[Unit]
Description=Anbox Container Manager
Wants=anbox-container-bridge.service
After=anbox-container-bridge.service

[Service]
ExecStartPre=/sbin/modprobe ashmem_linux
ExecStartPre=/sbin/modprobe binder_linux
ExecStart=/usr/bin/anbox container-manager --privileged

[Install]
WantedBy=multi-user.target
