[Unit]
Description=Anbox Container Bridge

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/anbox-bridge start
ExecStop=/usr/bin/anbox-bridge stop
