Source: anbox
Section: misc
Priority: optional
Maintainer: Simon Fels <morphis@gravedo.de>
Build-Depends: debhelper (>= 9), dkms, dh-systemd
Standards-Version: 4.1.3
Homepage: http://anbox.io
Vcs-Browser: https://github.com/anbox/anbox
Vcs-Git: https://github.com/anbox/anbox.git

Package: anbox-modules-dkms
Architecture: all
Depends: dkms (>= 1.95), ${misc:Depends}
Description: Android kernel driver (binder, ashmem) in DKMS format.
 .
 This package contains a out-of-tree version of the core Android
 kernel functionalities binder and ashmem.
