#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

VERSION=$(shell dpkg-parsechangelog -SVersion)

include /usr/share/dpkg/default.mk

%:
	dh $@ --parallel --fail-missing --with systemd


override_dh_auto_configure:
	# Enable debug builds
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Debug

override_dh_install:
	VERSION=$(shell dpkg-parsechangelog -SVersion)
	install -d $(CURDIR)/debian/tmp/usr/src
	for d in ashmem binder ; do \
		cp -a $(CURDIR)/kernel/$$d $(CURDIR)/debian/tmp/usr/src/anbox-modules-$$d-$(VERSION) ; \
	done

	install -d $(CURDIR)/debian/tmp/lib/udev/rules.d
	install -m 0644 kernel/99-anbox.rules $(CURDIR)/debian/tmp/lib/udev/rules.d

	install -d $(CURDIR)/debian/tmp/etc/modules-load.d
	install -m 0644 kernel/anbox.conf $(CURDIR)/debian/tmp/etc/modules-load.d

	install -d $(CURDIR)/debian/tmp/etc/X11/Xsession.d
	install -m 0644 data/xsession.conf $(CURDIR)/debian/tmp/etc/X11/Xsession.d/68anbox

	install -d $(CURDIR)/debian/tmp/etc/init
	install -m 0644 data/ubuntu-touch-session/anbox-container.conf $(CURDIR)/debian/tmp/etc/init/anbox-container.conf

	install -d $(CURDIR)/debian/tmp/usr/share/upstart/sessions
	install -m 0644 data/ubuntu-touch-session/anbox-session.conf $(CURDIR)/debian/tmp/usr/share/upstart/sessions/anbox-session.conf

	install -d $(CURDIR)/debian/tmp/usr/share/applications
	install -m 0644 data/ubuntu-touch-session/anbox.desktop $(CURDIR)/debian/tmp/usr/share/applications/anbox.desktop

	install -d $(CURDIR)/debian/tmp/usr/bin
	install -m 0644 scripts/anbox-bridge.sh $(CURDIR)/debian/tmp/usr/bin/anbox-bridge

	install -d $(CURDIR)/debian/tmp/usr/bin
	install -m 0644 data/ubuntu-touch-session/anbox-setup $(CURDIR)/debian/tmp/usr/bin/anbox-setup

	dh_install --fail-missing
