#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_NAME=anbox-modules

include /usr/share/dpkg/default.mk

%:
	dh $@ --parallel --fail-missing

override_dh_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/$(DEB_NAME)-dkms install
